In [1]:
# Librerias
import numpy as np
import pandas as pd
import talib


# Enviroment
import os
from dotenv import load_dotenv

# Librerías de stock
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.fundamentaldata import FundamentalData
import yfinance as yf

# Librería de graficos
import plotly.express as px

# Leemos datos con alpha vantage

In [2]:
# Cargar las variables de entorno desde el archivo .env
load_dotenv()

# Obtener la clave de la API
api_key = os.getenv('API_KEY')

if api_key:
    print(f"Clave de API leida")
else:
    print("Error: No se encontró la clave API.")

Clave de API leida

In [14]:
# Cargamos la data
ts = TimeSeries(key=api_key, output_format="pandas")
data, metadata = ts.get_monthly_adjusted(symbol="ENPH")

In [15]:
data.sort_index()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
date,,,,,,,
2012-04-30,7.65,8.2000,6.62,7.28,7.28,2458400.0,0.0
2012-05-31,7.50,9.5700,6.85,6.90,6.90,1853400.0,0.0
2012-06-29,7.43,7.9199,4.90,6.22,6.22,3472400.0,0.0
2012-07-31,6.22,6.6000,5.40,5.81,5.81,1690000.0,0.0
2012-08-31,5.87,6.8900,4.66,4.96,4.96,2585100.0,0.0
...,...,...,...,...,...,...,...
2024-05-31,109.05,134.0000,102.34,127.90,127.90,88718966.0,0.0
2024-06-28,131.21,141.6300,98.37,99.71,99.71,73553918.0,0.0
2024-07-31,99.50,122.9500,95.21,115.11,115.11,100529131.0,0.0
2024-08-30,115.77,130.0800,96.78,121.04,121.04,50652623.0,0.0
2024-09-05,118.63,119.2800,111.00,112.08,112.08,4898862.0,0.0

In [2]:
df = yf.download("MSFT", start="2024-09-01", end="2024-09-07")

[*********************100%***********************]  1 of 1 completed

In [3]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-09-03,417.910004,419.880005,407.029999,409.440002,409.440002,20313600
2024-09-04,405.910004,411.239990,404.369995,408.899994,408.899994,15135800
2024-09-05,407.619995,413.100006,406.130005,408.390015,408.390015,14195500
2024-09-06,409.059998,410.649994,400.799988,401.700012,401.700012,19382200

# Grafico de perdidas y ganancias

In [3]:
# Descargamos los datos
fd = FundamentalData(api_key, output_format="pandas")
income_statement = fd.get_income_statement_annual("OPEN")[0]

In [4]:
is1 = income_statement.T[2:]
is1.columns = list(income_statement.T.iloc[0])

In [7]:
is1

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
grossProfit,487000000,667000000,730000000,220000000
totalRevenue,6946000000,15567000000,8021000000,2583000000
costOfRevenue,6459000000,14900000000,7291000000,2363000000
costofGoodsAndServicesSold,65000000,737000000,56000000,7596000
operatingIncome,-386000000,-931000000,-568000000,-186000000
sellingGeneralAndAdministrative,692000000,1352000000,1164000000,347490000
researchAndDevelopment,167000000,169000000,134000000,56000000
operatingExpenses,873000000,1598000000,1298000000,406000000
investmentIncomeNet,None,None,None,None
netInterestIncome,-211000000,-385000000,-143000000,-67806000
interestIncome,None,None,None,194000
interestExpense,211000000,385000000,143000000,68000000
nonInterestIncome,7162000000,15542000000,8021000000,2571765000
otherNonOperatingIncome,107000000,-10000000,38000000,4000000
depreciation,None,None,None,None
depreciationAndAmortization,7000000,9000000,4000000,3700000
incomeBeforeTax,-274000000,-1351000000,-661000000,-253000000
incomeTaxExpense,1000000,2000000,1000000,0
interestAndDebtExpense,-5000000,410000000,143000000,79162000
netIncomeFromContinuingOperations,-275000000,-1353000000,-662000000,-286760000
comprehensiveIncomeNetOfTax,-272000000,-1355000000,-664000000,-253000000
ebit,-63000000,-966000000,-518000000,-185000000
ebitda,-56000000,-957000000,-514000000,-181300000
netIncome,-275000000,-1353000000,-662000000,-253000000

In [6]:
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
# Definir un mapa de colores personalizado
def reverse_cmap(cmap_name):
    cmap = plt.get_cmap(cmap_name)
    colors = cmap(np.arange(cmap.N))
    colors = colors[::-1]  # Invertir el orden de los colores
    return mcolors.LinearSegmentedColormap.from_list(f"reversed_{cmap_name}", colors)

In [13]:
# Definir un mapa de colores para las filas basado en una escala
def row_gradient(row):
    # Normalizar los valores de la fila para usar en el gradiente de colores
    norm = plt.Normalize(vmin=row.min(), vmax=row.max())
    cmap = plt.get_cmap(reverse_cmap('RdYlGn'))  # Escoge el mapa de colores que prefieras
    colors = [mcolors.to_hex(cmap(norm(val))) for val in row]
    return [f'background-color: {color}' for color in colors]

# Convertir las columnas a tipo float, manejando valores 'None' y errores
df = is1.apply(pd.to_numeric, errors='coerce')

# Aplicar el gradiente de color por fila
styled_df = df.style.apply(row_gradient, axis=1)
styled_df

In [28]:


# Convertir las columnas a tipo float, manejando valores 'None' y errores
df = df.apply(pd.to_numeric, errors='coerce')

# Rellenar valores NaN con 0 (o el valor que prefieras)
df_filled = df.fillna(0)

# Crear un mapa de colores personalizado
custom_cmap = reverse_cmap('coolwarm')

# Aplicar el gradiente de colores con el mapa de colores personalizado
styled_df = df_filled.style.background_gradient(cmap=custom_cmap)

# Aplicar un gradiente de colores
styled_df = df_filled.style.background_gradient(cmap='coolwarm')

# Mostrar el DataFrame estilizado en Jupyter Notebook (o en un entorno similar)
styled_df

In [18]:
# Crear el DataFrame
df = pd.DataFrame(is1, index=[
    'grossProfit', 'totalRevenue', 'costOfRevenue', 'costofGoodsAndServicesSold',
    'operatingIncome', 'sellingGeneralAndAdministrative', 'researchAndDevelopment',
    'operatingExpenses', 'investmentIncomeNet', 'netInterestIncome', 'interestIncome',
    'interestExpense', 'nonInterestIncome', 'otherNonOperatingIncome', 'depreciation',
    'depreciationAndAmortization', 'incomeBeforeTax', 'incomeTaxExpense', 'interestAndDebtExpense',
    'netIncomeFromContinuingOperations', 'comprehensiveIncomeNetOfTax', 'ebit', 'ebitda', 'netIncome'
])