In [1]:
# Librerias
import pandas as pd
import numpy as np

# Enviroment
import os
from dotenv import load_dotenv

# Librerías de stock
from alpha_vantage.timeseries import TimeSeries

In [3]:
# Cargar las variables de entorno desde el archivo .env
load_dotenv()

# Obtener la clave de la API
api_key = os.getenv('API_KEY')

if api_key:
    print(f"Clave de API leida")
else:
    print("Error: No se encontró la clave API.")

Clave de API leida

In [14]:
# Cargamos la data
ts = TimeSeries(key=api_key, output_format="pandas")
data, metadata = ts.get_monthly_adjusted(symbol="ENPH")

In [15]:
data.sort_index()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
date,,,,,,,
2012-04-30,7.65,8.2000,6.62,7.28,7.28,2458400.0,0.0
2012-05-31,7.50,9.5700,6.85,6.90,6.90,1853400.0,0.0
2012-06-29,7.43,7.9199,4.90,6.22,6.22,3472400.0,0.0
2012-07-31,6.22,6.6000,5.40,5.81,5.81,1690000.0,0.0
2012-08-31,5.87,6.8900,4.66,4.96,4.96,2585100.0,0.0
...,...,...,...,...,...,...,...
2024-05-31,109.05,134.0000,102.34,127.90,127.90,88718966.0,0.0
2024-06-28,131.21,141.6300,98.37,99.71,99.71,73553918.0,0.0
2024-07-31,99.50,122.9500,95.21,115.11,115.11,100529131.0,0.0
2024-08-30,115.77,130.0800,96.78,121.04,121.04,50652623.0,0.0
2024-09-05,118.63,119.2800,111.00,112.08,112.08,4898862.0,0.0